@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@1,100&display=swap');
body {
    /* color: #6C459F; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
    /* overflow-y: hidden; */
   
    
}
h2{
    text-align: center;
    margin-top: 20px;
    color: #6C459F;
    font-weight: bold;
}
.image1{
   transform: translate(300px,0px);
    margin-top: 30px;
    
}
.one{
    
    font-size: xx-large;
    position: relative;
    left: 530px;
    top: -300px;
}
span{
    text-decoration: underline;
    color: #F7932C;
}
.paragraph{
    width: 50%;
    position: absolute;
    left: 530px;
    top: 1100px;
    color: #6C459F;
    font-weight: bold;
    font-size: x-large;
}
.images{
    display: flex;
    justify-content: space-around;
}
.image{
    width: 30%;
    position: absolute;
    top: 1500px;
    left: 30px;
    color: #6C459F;
    display: none;
}
h5{
    color: black;
}
.image-1{
    width: 30%;
    position: absolute;
    top: 1500px;
    left: 460px;
    color: #6C459F;
    display: none;
}
.image-2{
    width: 30%;
    position: absolute;
    top: 1500px;
    left: 900px;
    color: #6C459F;
}
#margin{
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;
    color: black;
}
#about{
    text-align: center;
    font-size: large;
    color: #6C459F;
}
.footer{
    text-align: center;
}